@media (max-width: 1600px) {
	.contact-form-area, .contact-info {
		padding: 80px 50px;
	}
	.contact-add-box {
		margin: 0 60px;
	}
}
@media (max-width: 1400px) {
	.contact-form-area, .contact-info {
		padding: 80px 30px;
	}
	.contact-add-box {
		margin: 0 40px;
	}
}
@media (max-width: 1200px) {
	.footer-info ul li {
		margin-right: 0;
	}
}
@media (max-width: 992px) {
	.hero_content .hero_title {
		font-size: 25px;
		line-height: 35px;
	}
	.main-sound-bg .controls .play,
	.main-sound-bg .controls .pause,
	.main-sound-bg .controls .rew,
	.main-sound-bg .controls .fwd,
	.main-sound-bg .controls .stop {
		width: 50px;
	}
	.main-sound-bg .progressbar {
		width: 70%;
		margin-left: 150px;
	}
	.main-sound-bg .timeHolder {
		right: 180px;
	}
	.main-sound-bg .volume {
		width: 120px;
	}
	.event-list {
		text-align: center;
	}
	.event-list .place {
		text-align: center;
		padding: 15px 0;
	}
	.event-list .e_btn {
		text-align: center;
		margin: 15px 0;
	}
	.event-list .date {
		display: block;
		margin-bottom: 15px;
	}
	.footer-info {
		text-align: center;
		margin-bottom: 30px;
	}
	.copyright-area .f_nav,
	.copyright-area,
	.mail-box {
		text-align: center;
	}
	.mail-box input {
		width: 100%;
	}
	.copy_info p {
		margin-bottom: 15px;
	}
	.slide-pro .slick-dots li {
		display: inline-block;
	}
	.slide-pro .slick-dots{
		text-align: center;
		left: 0;
		top: inherit;
		bottom: -100px !important;
		transform: none;
		position: relative;

	}
	.slide-pro {
		margin-bottom: 100px !important;
	}
	.slide-pro::before {
		content: "";
		left: 0;
		bottom: -60px;
		top: inherit;
		border-bottom: 2px dotted #dedce2;
		width: 100%;
		height: 2px;
		
	}
	.contact-page {
		background: #f7f7f7;
	}
	.contact-add-box{
		position: relative;
		margin: 0;
	}
	.contact-form-area, .contact-info {
		padding: 80px 0;
	}
	.portfolio-info{
		padding-top: 30px;
	}
}
@media (max-width: 767px) {
	.main-sound-bg .volume {
		width: 100px;
	}
	.main-sound-bg .timeHolder {
		right: 140px;
		height: 80px;
		padding: 12px 15px;
	}
	.main-sound-bg .info {
		left: 0;
	}
	.main-sound-bg .player {
		height: 80px;
		top: -80px;
	}
	.main-sound-bg .progressbar {
		top: 78px;
	}
	.main-sound-bg .controls .play,
	.main-sound-bg .controls .pause,
	.main-sound-bg .controls .rew,
	.main-sound-bg .controls .fwd,
	.main-sound-bg .controls .stop {
		height: 77px;
	}
	.main-sound-bg .info {
		top: 33px;
	}
	.hero_content {
		margin-bottom: 30px;
	}

	.hero_content .hero_title {
		font-size: 35px;
		line-height: 45px;
		margin-bottom: 20px;
	}
	.single-list-sound .controls {
		top: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
	.single-list-sound .info {
		left: 50%;
		bottom: -20px;
		text-align: center;
		width: 100%;
		transform: translateX(-50%);
	}
	.single-list-sound .single-btn {
		top: 0;
	}
	.single-list-sound .example2 {
		padding-bottom: 80px;
	}
	.single-list-sound .progressbar {
		top: 160px;
	}
}
@media (max-width: 580px) {
	.main-sound-bg {
		display: none;
	}
	.single-list-sound .single-btn {
		bottom: 60px;
		top: inherit;
		left: 50%;
		right: inherit;
		transform: translateX(-50%);
		width: 60%;
		text-align: center;
	}
	.single-list-sound .progressbar {
		top: 240px;
	}
	.single-list-sound .example2 {
		padding-bottom: 150px;
	}
	.record-slide .slick-next,
	.record-slide .slick-prev {
		left: 40%;
		top: inherit;
		bottom: -40px;
		transform: translateX(-50%);
	}
	.record-slide .slick-next {
		right: inherit;
		left: 54%;
	}
	.record-bg .bottom-btn {
		margin-top: 40px;
	}
	.footer-info .socail-icon a {
		margin-bottom: 20px;
		display: inline-block;
	}
.port-area .col-sm-6{
	overflow: hidden;
	padding: 0 15px !important;
}
.port-area .col-sm-6 .port_box:hover{
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	box-shadow: none;
}
.port_box:hover::before{
	border: none;
	background: #000;
	opacity: 0.7;
}
}