/*----------- Typography -------------*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	word-wrap: break-word;
  }
  
  html,
  body {
	color: #444;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
	}
  
  p {
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
	color: #444;
  }
  
  img {
	width: 100%;
	max-width: 100%;
	height: auto;
  }
  
  a:focus {
	text-decoration: none;
	outline: 0;
  }
  
  span,
  a,
  a:hover {
	text-decoration: none;
	color: inherit;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	margin: 0;
	font-weight: 700;
	color: #4a4a4a;
  }
  
  a,
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
	font-weight: inherit;
  }
  
  h1 {
	font-size: 60px;
	line-height: 70px;
	margin-bottom: 0px;
	font-family: 'playfair_displaybold';
  }
  
  h2 {
	font-size: 30px;
	line-height: 38px;
	margin-bottom: 0px;
	font-family: 'playfair_displaybold';
  }
  
  h3 {
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 0px;
	font-family: 'ralewaybold';
  }
  
  h4 {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 0px;
	font-family: 'playfair_displaybold';
  }
  
  .same-section-spacing {
	padding: 100px 0;
  }
  
  .ws-section-spacing {
	padding: 100px 0 70px;
  }
  .pt-100{
	  padding-top: 100px;
  }
  
  .btn-default {
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'ralewaybold';
	background: #cb045f;
	color: #fff;
	padding: 12px 30px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	-ms-border-radius: 40px;
	-o-border-radius: 40px;
  }
  
  .btn-default:hover {
	color: #fff;
  }
  .pagination .page-link {
	padding: .5rem 8px;
	font-family: 'playfair_displaybold';
	color: #000;
	font-size: 18px;
	border: none;
	outline: none;
	box-shadow: none;
}
.pagination .page-link.active {
	color: #cb045f;
}
.pagination .page-link:hover {
    z-index: 2;
    color: #cb045f;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
}

.pagination .arrow{
	background: #cb045f;
    color: #fff !important;
    padding: 5px 18px;
    border-radius: 20px !important;
    margin: 0 10px;
}
.pagination .arrow:hover{
	background: #cb045f;
}
/*----------------- Preloader -----------------*/
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: #ecf0f1 url("../images/loading.gif") no-repeat center center;
}
/*----------------- To-Top-Btn -----------------*/
#btn-to-top {
	position: fixed;
    color: #cb045f;
    bottom: 5%;
    right: 5%;
    border: 2px solid #cb045f;
    text-align: center;
    width: 35px;
    height: 45px;
    line-height: 40px;
    border-radius: 12px;
	font-size: 35px;
	z-index: 999;
}
#btn-to-top:hover{
	color: #fff;
	background: #cb045f;
}
  /*------------- Main-title ------------*/
  .main_title_box {
	margin-bottom: 60px;
	text-align: center;
  }
  
  .main_title_box .title {
	color: #333333;
	text-transform: uppercase;
	font-family: 'ralewaybold';
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 30px;
  }
  
  .main_title_box .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #333;
  }
  
  .main_title_box .sub_title {
	max-width: 600px;
	margin: 0 auto;
	font-family: 'playfair_displayregular';
	color: #444444;
	line-height: 29px;
	letter-spacing: 1px;
	font-weight: 500;
  }
  
  .wht-box .sub_title,
  .wht-box .title {
	color: #fff;
  }
  
  .wht-box .title::before {
	background: #fff;
  }
  .main_title_left{
	  text-align: left;
  }
  .main_title_left .sub_title{
	  margin-left: 0;
  }
  /*--------------- 02 Navbar -----------------*/
  .menu-slide {
	position: relative;
  }
  
  .menu-tab {
	width: 70px;
	height: 40px;
	position: absolute;
	z-index: 100;
	top: 37px;
	left: 0px;
	cursor: pointer;
	transition: all .6s ease-in-out;
	}
  
  .menu-tab div {
	width: 35px;
	height: 2px;
	background-color: #ffffff;
	display: block;
	margin: 6px 0;
	transition: all .6s ease-in-out;
  }
  
  .menu-tab #one {
	margin-left: 15px;
  }
  
  .menu-tab #two {
	margin-left: 8px;
  }
  
  .menu-tab.active {
	left: 60px;
	transition: all 600ms ease-in-out;
	background-color: rgb(255, 255, 255);
	top: 0;
	padding-top: 40px;
	height: 100px;
	width: 43px;
	position: fixed;
	}
  
  .menu-tab.active #one {
	-webkit-transform: translateY(9px) rotate(-135deg);
	transform: translateY(9px) rotate(-135deg);
	transition: all .6s ease-in-out;
	background-color: #000000;
	margin: 0;
  }
  
  .menu-tab.active #two {
	opacity: 0;
	transition: .4s ease;
  }
  
  .menu-tab.active #three {
	-webkit-transform: translateY(-9px) rotate(-45deg);
	transform: translateY(-9px) rotate(-45deg);
	transition: all .6s ease-in-out;
	background-color: #000000;
  }
  
  .menu-hide {
	width: 450px;
	left: -460px;
	height: 100vh;
	position: fixed;
	z-index: 10;
	top: 0px;
	transition: all .6s ease-in-out;
  }
  
  .hide-logo {
	width: 86px;
	height: 30px;
	position: absolute;
	top: 35px;
	left: 140px;
	}
  
  .menu-hide nav {
	position: relative;
	top: 110px;
  }
  
  .menu-hide nav ul {
	text-align: left;
  }
  
  .menu-hide nav ul li {
	list-style-type: none;
	padding-left: 60px;
	padding-bottom: 30px;
	transition: all .5s ease;
  }
  
  .menu-hide nav ul li a:hover {
	transition: all .5s ease;
	color: #cb045f;
  }
  
  .menu-hide nav ul li a {
	text-decoration: none;
	color: #4a4a4a;
	font-weight: 500;
	letter-spacing: 2px;
	font-size: 24px;
  }
	/*end of menu-hide*/
  .menu-hide.show {
	left: 0px;
	background-color: #ffffff;
	transition: all .6s ease-in-out;
  }
  
  .logo-img-wapper {
	width: 86px;
	height: 30px;
	position: absolute;
	top: 37px;
	left: 90px;
	z-index: 1;
	/* overflow: hidden; */
	/* z-index: 99999; */
	}
  /*-------------- Main-section ------------*/
  .bg-main {
	background-image: url('../images/main-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 800px;
	position: relative;
  }
  
  .hero-slider__content-wrapper {
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	z-index: 5;
	width: 100%;
  }
  
  .hero_content {
  }
  
  .hero_content .hero_title {
	color: #fff;
	margin-bottom: 30px;
  }
  
  .hero_content .hero_subtitle {
	color: #fff;
	font-family: 'playfair_displayregular';
	font-weight: 500;
  }
  
  .hero_imgwapper {
	position: relative;
  }
  
  .hero_imgwapper::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(3, 4, 96, 0.35);
  }
  
  .hero_playbtn {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform: translate(-50% , -50%);
	-webkit-transform: translate(-50% , -50%);
	-moz-transform: translate(-50% , -50%);
	-ms-transform: translate(-50% , -50%);
	-o-transform: translate(-50% , -50%);
	border: 4px solid #fff;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	text-align: center;
	line-height: 62px;
	padding-left: 5px;
  }
  
  .hero_playbtn span::before {
	font-size: 30px;
  }
  
  .hero_playbtn:hover {
	color: #fff;
  }
  
  /*------------------ Main-Sound-area ----------------*/
  .main-sound-bg {
	position: relative;
  }
  
  .main-sound-bg .controls .stop,
  .main-sound-bg .pl,
  .main-sound-bg .cover,
  .main-sound-bg .playlist {
	display: none;
  }
  
  .main-sound-bg .example,
  .main-sound-bg .example2,
  .main-sound-bg .example3 {
	margin: 0;
	width: 100%;
	padding-bottom: 0;
	height: 0;
  }
  
  .main-sound-bg .timeHolder {
	color: #ffffff;
	position: absolute;
	margin: 0;
	width: auto;
	right: 200px;
	bottom: 0px;
	border-right: 1px solid #ddd;
	height: 60px;
	padding: 18px 20px;
  }
  
  .main-sound-bg .progressbar {
	width: 78%;
	margin-left: 170px;
	top: 58px;
	height: 3px;
	background: transparent;
  }
  
  .main-sound-bg .volume {
	height: 11px;
	right: 20px;
	left: inherit;
	position: absolute;
	top: 30px;
	width: 129px;
  }
  
  .main-sound-bg .controls {
	cursor: pointer;
	left: 0px !important;
	position: absolute;
	top: 3px;
	left: 122px;
  }
  
  .main-sound-bg .progressbar div {
	height: 2px;
  }
  
  .main-sound-bg .player {
	background-color: rgba(0, 0, 0, 0.52);
	height: 60px;
	position: relative;
	top: -60px;
	width: 100%;
  }
  
  .main-sound-bg .bar-played {
	background: #cb045f;
	z-index: 2;
  }
  
  .main-sound-bg .info {
	position: absolute;
	width: 75%;
	left: 20px;
	top: 20px;
  }
  
  .main-sound-bg .controls .play,
  .main-sound-bg .controls .pause,
  .main-sound-bg .controls .rew, 
  .main-sound-bg .controls .fwd, 
  .main-sound-bg .controls .stop {
	width: 57px;
	height: 57px;
	margin: 0;
	vertical-align: middle;
	background-position: center !important;
	border-right: 1px solid #ddd;
  }
  
  .main-sound-bg .title {
	color: #dedede;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: bold;
	top: 0;
	padding-right: 10px;
  }
  
  .main-sound-bg .title,
  .main-sound-bg .artist {
	font-family: 'ralewaymedium';
	position: relative;
	top: 0;
	display: inline-block;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	font-weight: 500;
  }
  
  .main-sound-bg .time-separator,
  .main-sound-bg .time-current,
  .main-sound-bg .time-duration,
  .main-sound-bg  .time-separatorp {
	color: #838d8f;
	font-weight: 500;
  }
  
  .main-sound-bg .volume-adjust > div > div {
	height: 3px;
	background: #838d8f;
  }
  
  .main-sound-bg .volume-adjust {
	height: 3px;
	width: 75%;
  }
  
  .main-sound-bg .volume-btn {
	top: -6px;
  }
  /*--------------- Single-music-list ----------*/
  .single-list-sound .player {
	width: 100%;
	background: transparent;
	height: 120px;
  }
  
  .single-list-sound .example2 {
	width: 100%;
	margin: 0;
	padding-bottom: 30px;
  }
  
  .single-list-sound .timeHolder,
  .single-list-sound  .controls .fwd,
  .single-list-sound .controls .rew,
  .single-list-sound .controls .stop,
  .single-list-sound .pl,
  .single-list-sound .playlist,
  .single-list-sound .volume,
  .single-list-sound .cover {
	display: none;
  }
  
  .single-list-sound .progressbar {
	width: 100%;
	margin: 0;
	background-color: #dddddd;
	height: 3px;
	top: 148px;
	margin-bottom: 10px;
  }
  
  .single-list-sound .controls .play {
	background-image: url('../images/single-play.png');
  }
  
  .single-list-sound .controls .pause {
	background: url('../images/single-stop.png') no-repeat;
  }
  
  .single-list-sound .info .title {
	color: #333;
	font-family: 'playfair_displaybold';
	font-size: 30px;
	line-height: 38px;
	position: relative;
	top: 0;
	left: 0;
	margin-bottom: 8px;
  }
  
  .single-list-sound .info .artist {
	color: #888;
	font-size: 18px;
	font-family: 'playfair_displayregular';
	position: relative;
	top: 0;
	left: 0;
  }
  
  .single-list-sound .info {
	position: absolute;
	left: 85px;
	bottom: 0px;
  }
  
  .single-list-sound .progressbar div {
	height: 12px;
	top: -9px;
  }
  
  .single-list-sound .bar-played {
	background: #cb045f;
  }
  
  .single-list-sound .info .title:focus,
  .single-list-sound .info .title:hover {
	color: #cb045f;
  }
  
  .single-list-sound .controls {
	top: 61px;
	left: 15px;
  }
  
  .single-list-sound .single-btn {
	font-family: 'ralewaybold';
	font-size: 15px;
	border: 2px solid #cb045f;
	position: absolute;
	top: 60px;
	right: 15px;
	color: #333;
	z-index: 9;
	text-transform: uppercase;
	padding: 12px 30px;
	border-radius: 40px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  }
  
  .single-list-sound .single-btn:hover {
	background-color: #cb045f;
	color: #fff;
  }
  /*------------------ About-section ----------------*/
  .about-bg {
	background-image: url('../images/about-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: inherit;
  }
  
  .more-song-btn {
	text-align: center;
	margin-top: 80px;
	background: #222;
	padding: 20px;
  }
  
  .more-song-btn a {
	color: #fff;
	font-family: 'ralewaymedium';
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
  }
  /*---------------- Record-Section ------------*/
  .record-bg {
	background-image: url('../images/ser-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .record-slide .item {
	padding: 0 15px;
  }
  
  .rec-info {
	background: #fff;
	padding: 30px 20px;
	box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.35);
	margin-bottom: 5px;
  }
  
  .rec-info h3 {
	font-family: 'playfair_displaybold';
	color: #333;
	margin-bottom: 5px;
  }
  
  .rec-info p {
	font-family: 'playfair_displayregular';
	font-size: 16px;
	color: #888;
  }
  
  .dots {
	position: relative;
	width: 6px;
	height: 6px;
	background: #e5e5e5;
	display: inline-block;
	margin-left: 12px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  }
  
  .dots::after,
  .dots::before {
	content: "";
	position: absolute;
	top: 0;
	width: 6px;
	height: 6px;
	background: #e5e5e5;
	border-radius: 50%;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  }
  
  .dots::after {
	right: -10px;
  }
  
  .dots::before {
	left: -10px;
  }
  
  .right-aling {
	float: right;
  }
  
  .heart-icon span::before,
  .plus-icon span::before {
	font-size: 24px;
	margin-right: 5px;
	color: #e5e5e5;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  }
  
  .dots:hover::before,
  .dots:hover::after,
  .dots:hover {
	background: #cb045f;
  }
  
  .heart-icon span:hover::before ,
  .plus-icon span:hover::before {
	color: #cb045f;
  }
  .center-mode-slide .slick-prev, 
  .record-slide .slick-prev {
	left: -20px;
	z-index: 9;
	}
  .center-mode-slide .slick-next, 
  .record-slide .slick-next {
	right: 5px;
  }
  .center-mode-slide .slick-next:before, 
  .center-mode-slide .slick-prev:before, 
  .record-slide .slick-prev:before,
  .record-slide .slick-next:before {
	font-family: 'Flaticon';
	font-size: 45px;
	line-height: 1;
	opacity: 1;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  }
  .center-mode-slide .slick-prev:before,
  .record-slide .slick-prev:before {
	content: "\f105";
  }
  .center-mode-slide .slick-next:before,
  .record-slide .slick-next:before {
	content: "\f107";
  }
  
  .record-slide .slick-next:hover::before,
  .record-slide .slick-prev:hover::before {
	color: #cb045f;
  }
  
  /*--------------------- Event-Section -----------*/
  .bg-event {
	background-image: url('../images/bg-3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .event-list {
	width: 100%;
	color: #fff;
  }
  
  .event-list li {
	border-bottom: 2px solid #95939b;
	padding-bottom: 30px;
	margin-bottom: 30px;
  }
  
  .event-list .date {
	font-family: 'ralewaybold';
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
  }
  
  .event-list .e_title {
  }
  
  .event-list .e_title h3 {
	font-family: 'playfair_displaybold';
	color: #cb045f;
	font-size: 30px;
	line-height: 38px;
	text-transform: capitalize;
	margin-bottom: 6px;
  }
  
  .event-list .e_title p {
	font-family: 'playfair_displayregular';
	color: #fefefe;
	font-size: 18px;
	margin: 0;
  }
  
  .event-list .place {
	text-align: right;
  }
  
  .event-list .place h4 {
	font-family: 'ralewaybold';
	font-size: 18px;
	color: #fff;
	line-height: 26px;
	text-transform: uppercase;
	margin-bottom: 6px;
  }
  
  .event-list .place p {
	font-family: 'ralewaymedium';
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
  }
  
  .event-list .e_btn {
	text-align: right;
  }
  
  .event-list .e_btn a {
	font-family: 'ralewaybold';
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	background: #cb045f;
	padding: 15px 25px;
	border-radius: 40px;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  }
  
  .event-list .e_btn a:hover {
	background-color: #888888;
  }
  /*------------- News-Section ------------*/
  .blog-box {
	background: #fff;
  }
  .blog-box .blog-info {
	padding: 30px 20px;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.18);
	position: relative;
  }
  
  .blog-box .blog-info::before {
	content: "";
	position: absolute;
	bottom: -80px;
	left: 50%;
	width: 250px;
	height: 250px;
	background: #000;
	border-radius: 50%;
	z-index: -1;
	transform: translateX(-50%);
  }
  
  .news-area span.date {
	text-align: center;
	display: block;
	color: #fff;
	padding: 24px 0;
	font-family: 'ralewaymedium';
	font-size: 14px;
	letter-spacing: 2px;
  }
  
  .blog-box .blog-info h3 {
	font-family: 'playfair_displaybold';
	font-size: 18px;
	margin-bottom: 6px;
  }
  
  .blog-box .blog-info p {
	font-size: 15px;
	color: #333;
	font-family: 'ralewaymedium';
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 20px;
  }
  
  .blog-box .bottom-blog {
	font-family: 'playfair_displayregular';
	vertical-align: middle;
  }
  
  .blog-box .bottom-blog .left-aling {
	font-size: 15px;
	color: #888;
  }
  
  .blog-box .bottom-blog .right-aling {
	font-size: 14px;
	color: #cb045f;
	padding-top: 2px;
  }
  
  .blog-info a:hover {
	color: #cb045f;
  }
  
  .news-area .bottom-btn {
	margin-top: 30px;
  }
  .news-area .col-md-6{
    margin-bottom: 40px;
}
  /*--------------- Video-area --------------*/
  .bg-video {
	background-image: url('../images/bg-4.jpg');
	background-position:bottom;
  }
  .video-box {
	margin-bottom: 30px;
  }
  .video-box .img-wapper {
	position: relative;
  }
  .video-box .video-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
  }
  .video-box .video-icon span::before {
	color: #fff;
	font-size: 80px;
  }
  /*----------------- footer-area -----------------*/
  .footer-area {
	background-color: #222;
	padding: 60px 0;
  }
  .footer-info ul {
	margin: 0;
  }
  
  .footer-info ul li {
	display: inline-block;
	margin-right: 30px;
  }
  .footer-info .socail-icon a {
	padding-right: 15px;
  }
  
  .footer-info .socail-icon a span::before {
	font-size: 25px;
	color: #888;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
  }
  .footer-info .pay-icon img {
	width: 70px;
	margin-top: -8px;
	margin-right: 10px;
  }
  .mail-box {
	text-align: right;
  }
  .mail-box input {
	width: 80%;
	height: 60px;
	border-radius: 40px;
	padding: 0 15px;
	position: relative;
	box-shadow: none;
	border: none;
  }
  .mail-box > a {
	position: absolute;
	right: 35px;
	top: 15px;
	color: #cb045f;
	font-weight: 600;
	border-left: 1px solid #888;
	padding-left: 12px;
  }
  .copyright-area{
    border-top: 1px solid #888;
    padding-top: 50px;
    margin-top: 60px;
  }
  .copy_info p{
	color: #888;
	font-family: 'ralewaymedium';
	margin: 0;
}
  .copyright-area .f_nav{
	text-align: right;
	margin: 0;
}
  .copyright-area .f_nav li{
	  display: inline-block;
	  padding-left: 30px;
}
  .copyright-area .f_nav li a{	  
	 color: #888;
	 transition: all .3s ease-in-out;
	 -webkit-transition: all .3s ease-in-out;
	 -moz-transition: all .3s ease-in-out;
	 -ms-transition: all .3s ease-in-out;
	 -o-transition: all .3s ease-in-out;
}
.footer-info .socail-icon a:hover span::before,
.copyright-area .f_nav li a:hover{
	color: #fff;
}

/*---------------- Inner-Page -------------*/
.bg-banner{
	background-image: url('../images/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 500px;
    position: relative;
}
.about-new{
	background-image: url('../images/bg-5.jpg');
    background-position: bottom;
    background-size: cover;
}
.center-mode-slide{
	margin-bottom: 80px;
}
.center-mode-slide .item{
	width: 140px !important;
	height: 140px;
	max-width: 140px !important;
	transition: transform .2s;
	position: relative;
	cursor: pointer;
}
.center-mode-slide .item::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(203, 4, 95, 0.7);
	opacity: 0.7;
}
.center-mode-slide .item img{
opacity: 0.7;
}
.center-mode-slide .slick-current div{	
}
.center-mode-slide .slick-current .item{
-moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.center-mode-slide .slick-current .item img{
	   transform: scale(1.5, 1.5);
	   -webkit-transform: scale(1.5, 1.5);
	   -moz-transform: scale(1.5, 1.5);
	   -ms-transform: scale(1.5, 1.5);
	   -o-transform: scale(1.5, 1.5);
	   z-index: 9;
	   position: absolute;
	   opacity: 1;
	   /* box-shadow: 0px 22px 43.2px 10.8px rgba(0, 0, 0, 0.25); */	 
}
.center-mode-slide .slick-list{
padding: 20px 0 !important;
}
.center-mode-slide .slick-prev{
	left: -35px;
}
.center-mode-slide .slick-next{
	right: 10px;
}
.shadow-box{
	box-shadow: 0px 33px 40.8px 10.2px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	padding: 50px;
}
.shadow-box p{
    font-family: 'playfair_displayregular';
    font-size: 18px;
    color: #444444;
    margin-bottom: 30px;
    font-weight: 500;
}
.shadow-box .main_title_box{
	margin-bottom: 10px;
}
.new-bg{
    background-image: url('../images/new-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.new-bg .single-list-sound .single-btn,
.new-bg .single-list-sound .info .title{
	color: #fff;
}
.new-bg .single-list-sound .info .artist{
	color: #ccc;
}
.new-bg .single-list-sound .controls .play {
    background-image: url('../images/single-play-wht.png');
}
.port_box{
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
	transition: all 0.3s;
	position: relative;
}
.port_box:hover::before{
	content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	border: 10px solid #fff;
	-moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.port_box:hover{
    box-shadow: 0px 3px 81px 0px rgba(0, 0, 0, 0.36);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    z-index: 1;
    position: relative;
}
.port_box .v_btn{
	position: absolute;
	top: 50%;
	left: 50%;
	color: #fff;
	transform:translate(-50%, -50%);
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	-o-transform:translate(-50%, -50%);
	opacity:0;
	visibility: hidden;
}
.port_box .v_btn span::before{
	font-size: 70px;
}
.port_box:hover .v_btn{
	opacity: 1;
	visibility: visible;
}
.bg-banner-two{
	background-image: url('../images/banner2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;
}
/*--------------- Typography-Page --------------*/
.typo-page p{
	font-size: 18px;
	font-family: 'playfair_displayregular';
}
.typo-title{
	font-size: 18px;
	color: #cb045f;
	font-family: 'ralewaylight';
	text-transform: uppercase;
	position: relative;
	font-weight: 400;
	padding-bottom: 10px;
	margin-bottom: 40px;
}
.typo-title::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 1px solid #e2e2e2;
	width: 100%;
}
.typo_heading h1,
.typo_heading h2,
.typo_heading h3,
.typo_heading h4,
.typo_heading h5,
.typo_heading h6{
	color: #333;
	font-family: 'ralewaybold';
	margin-bottom: 20px;
}
.typo_heading h1{
	font-size: 60px;
	line-height: 68px;
	letter-spacing: 5px;
}
.typo_heading h2{
	font-size: 48px;
	line-height: 56px;
	letter-spacing: 4px;
}
.typo_heading h3{
	font-size: 36px;
	line-height: 44px;
	letter-spacing: 3px;
}
.typo_heading h4{
	font-size: 30px;
	line-height: 38px;
	letter-spacing: 2px;
}
.typo_heading h5{
	font-size: 24px;
	line-height: 32px;
	letter-spacing: 1px;
}
.typo_heading h6{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 1px;
}
.typo-info p,
.typo_heading p{
	font-family: 'playfair_displayregular';
	font-size: 18px;
}
.typo_heading li{
	margin-bottom: 40px;
}
.t_title{
	font-family: 'ralewaymedium';
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 2px;

}
.typo-info a{
    color: #cb045f;
}
Blockquote{
	font-family: 'playfair_displayregular';
	font-size: 20px;
	position: relative;
}
Blockquote::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0;
    border-left: 1px solid #dddddd;
    height: 100%;
}
Blockquote p{
	padding-left: 60px;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 30px;
} 
.haf-line{
	position: relative;
	padding-left: 40px;
	font-style: italic;
	font-size: 16px;
}
.haf-line::before{
	content: "";
	position: absolute;
	left: 0;
	top: 12px;
	width: 30px;
	height: 2px;
	background: #cb045f;
}
/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
.panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background-color: #FAFAFA;
	border-color: #EEEEEE;
	margin-bottom: 5px;
}

.panel-title {
	font-size: 18px;
	line-height: 26px;
	font-family: 'ralewaymedium';
	font-weight: 400;
	text-transform: uppercase;
}

.panel-title > a {
	display: block;
	padding: 13px 15px;
	text-decoration: none;
	background-color: #cb045f;
	color: #fff;
}
.panel-title > a.collapsed {
background-color: #FAFAFA;
color: #444;
}
.more-less {
	float: right;
	color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
	font-family: 'playfair_displayregular';
    border-top-color: #EEEEEE;
    padding: 10px 50px;
    font-size: 17px;
}
.panel-title > a > i::before{
    font-size: 14px;
    padding-right: 15px;
}
.alert-success,
.alert-warning,
.alert-info {
	background-color: #fafafa;
	color: #444;
	border-color:#fafafa;
	font-size: 18px;
	padding-right: 35px;
	margin-bottom: 10px;
}
.alert-dismissible .close{
    opacity: 1;
    padding: 8px 15px;
}
.alert-info strong{
	color: #e63f1a;
	padding-right: 2px;
}
.alert-info .close{
	color: #e63f1a;
}
.alert-warning strong{
	color: #eeb12c;
	padding-right: 2px;
}
.alert-warning .close{
	color: #eeb12c;
}
.alert-success strong{
	color: #59d813;
	padding-right: 2px;
}
.alert-success .close{
	color: #59d813;
}
.group-btn{
    background: #fafafa;
    padding: 50px;
}
.tr-btn,
.bg-btn{
    padding: 12px 40px;
    font-size: 15px;
    font-family: 'ralewaymedium';
    text-transform: uppercase;
    border-radius: 40px;
    letter-spacing: 0.3px;
    font-weight: 600;
    display: inline-block;
}
.bg-btn{
	background: #cb045f;
    color: #fff;
    margin-right: 15px;
    border: 2px solid #cb045f;
}
.bg-btn:hover{
	color: #fff;
}
.tr-btn{
	color: #444;
	border: 2px solid #cb045f;
}
.contact-form .form-group input{
	height: 46px;
	border-radius: 0;
	border: 1px solid #efefef;
}
textarea.form-control{
	border: 1px solid #efefef;
}
.contact-form .form-group{
	margin-bottom: 25px;
}
.typo-listed{
	font-family: 'playfair_displayregular';
}
.list-style ol,
.list-style ul{
	padding-left: 15px;
}
.list-style ul li{
	list-style: disc;
}
.list-style ol li{
	list-style: decimal;
}
.table-active, .table-active>td, .table-active>th {
	background-color: #f1f1f1;
	border-top: none;
}
.table thead th{
    font-family: 'ralewaymedium';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 25px;
}
.table-dark {
    color: #fff;
    background-color: #444;
}

.table td, .table th {
	padding: 15px 25px;
}

	.typo-listed li {
		padding: 7px 0;
	}

	.cheak-list li{
		list-style: none !important;
	}
	.cheak-list img{
		width: 15px;
		height: 12px;
		vertical-align: baseline;
		margin-right: 6px;
	}
	.nav-tabs .nav-item {
		margin-bottom: -1px;
		padding: 0;
	}
	.tab-content>.active {
		opacity: 1;
	}
	.nav-tabs .nav-link{
		color: #444 !important;
		font-family: 'ralewaymedium';
		font-size: 20px;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 0;
	}
	.nav-tabs .nav-link.active{
		
border-top: 2px solid #cb045f;
	}
	.tab-content{
		padding-top: 30px;
	}
	.asset-song-bg{
		background: #f7f7f7;
		padding: 50px 0 100px;
	}
	.assets-bg-video .main-sound-bg .player{
		top: 20px;
	}
	.assets-bg-video .bg-video{
		padding-bottom: 120px;
	}
	.asset-news-spacing{
		padding-top: 40px;
		padding-bottom: 70px;
	}
	/*--------------- Product-list -------------*/

	.pro-box{
	margin-bottom: 30px;
	}
	.pro-box .img-wapper{
		background: #f1f1f1;
		padding: 0 30px 10px;
	}
	.pro-info{
		padding: 15px;
		background: #fff;
		
	}
	.pro-info .title{
		font-size: 14px;
		font-family: 'playfair_displayregular';
		line-height: 22px;
		margin-bottom: 5px;
		color: #000;
	}
	.pro-info .left-box{
		float: left;
		line-height: 1;
	}
	.pro-info .left-box .price{
		display: block;
		font-size: 13px;
		font-weight: 600;
		color: #cb045f;
		font-family: 'ralewaybold';
	}
	.pro-info .left-box .price > s{
		font-weight: 400;
		color: #444;

	}
	.pro-info .left-box .rating{
		font-size: 8px;
		color: #cb045f;
	}
	.pro-info .left-box .rating > i:nth-child(4n){
		opacity: 0.4;
	}
	.pro-info .left-box .rating > i:nth-child(5n){
		opacity: 0.4;
	}
	.pro-info .right-box{
		text-align: right;
	}
	.pro-info .right-box > a::before{
		font-size: 24px;
	}
	.pro-info .right-box .plus{
		padding-right: 5px;
	}
	.pro-box:hover .pro-info{
		box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.06);
	}
	/*---------------- Product-Slider --------------*/
	.asset-pro-bg{
		position: relative;
		background: #f9f9f9;
		padding: 60px 0;
	}
	.slide-pro{
		margin-bottom: 0 !important;
	}
	.slide-pro::before{
		content: "";
		position: absolute;
		left: 0px;
		top: -60px;
		border-left: 2px dotted #dedce2;
		width: 2px;
		height: 132%;
	}
	.slide-pro .item{
		padding-left: 30px;
	}
	.slide-pro .item img{
		padding-left: 30px;
	}
	.pro-slide-info {
		display: block;
		text-align: right;
	}
	.pro-slide-info .title{
		font-size: 32px;
		line-height: 40px;
		font-family: 'playfair_displayregular';
		margin-bottom: 20px;
	}
	.pro-slide-info p{
		font-size: 18px;
		font-family: 'playfair_displayregular';
		margin-bottom: 25px;
	}
	.pro-slide-info a{
		margin: 0;
		font-size: 14px;
		letter-spacing: 2px;
		padding: 12px 50px;
	}
	.slide-pro .slick-dots{
		left: -30px;
		text-align: left;
		top: 50%;
		width: auto;
		transform:translateY(-50%);
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		-o-transform:translateY(-50%);
}
	.slide-pro .slick-dots li {
		display: block;
		width: 50px;
		height: 50px;
		margin-bottom: 20px;
		border-radius: 50%;
	}
	.slide-pro .slick-dots li:nth-child(1n){
		background-image: url('../images/s-1.png');
	}
	.slide-pro .slick-dots li:nth-child(2n){
		background-image: url('../images/s-2.png');
	}
	.slide-pro .slick-dots li:nth-child(3n){
		background-image: url('../images/s-3.png');
	}
	.slide-pro .slick-dots li button:before{
		content: "";
	}
	.slide-pro .slick-dots li.slick-active{
		border: 2px solid #cb045f;
		border-radius: 50%;
	}
	/*---------------- Contact-Page --------------*/
	.contact-page{
		background: linear-gradient(to right, rgba(247,247,247,1) 0%, rgba(246,246,246,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
		position: relative;
	}

	.contact-form-area,
	.contact-info{
		padding: 80px;
	}
	.contact-title {
		margin-bottom: 50px;
	}
	.contact-title .title{
		position: relative;
		display: inline-block;
		padding-bottom: 5px;
		margin-bottom: 20px;
		font-family: 'ralewaymedium';
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 3px;
		color: #000;
	}
	.contact-title .title::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: #000;
	}
	.contact-title p{
		font-family: 'playfair_displayregular';
		font-size: 18px;
		margin: 0;
} 
	.contact-list{

	}
	.contact-list li{
		margin-bottom: 12px;
}
	.contact-list span{
		background: #cb045f;
		color: #fff;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-align: center;
		font-size: 14px;
		line-height: 41px;
		margin-right: 10px;
	}
	.contact-list a{
		font-family: 'ralewaymedium';
		font-size: 18px;
	}
	label {
	    font-family: 'ralewaymedium';
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
	}
	.contact-form-area .bg-btn{
		padding: 12px 50px;
		letter-spacing: 2px;
		margin-top: 30px;
	}
	.map {
		height: 750px;
		width: 100%;
	}

	.contact-add-box{
		background: #cb045f;
		margin: 0 85px;
		padding: 50px;
		position: absolute;
		z-index: 9;
	}
	.contact-add-box .title{
		position: relative;
		text-transform: uppercase;
		color: #fff;
		letter-spacing: 2px;
		padding-bottom: 6px;
		margin-bottom: 30px;
	}
	.contact-add-box .title::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 150px;
		height: 2px;
		background: #fff;
		}
	.contact-add-box >  p{
		font-family: 'playfair_displayregular';
		font-size: 18px;
		color: #fff;
		margin-bottom: 40px;
	}
	.contact-add-box >  span{
		font-family: 'ralewaymedium';
		font-size: 22px;
		color: #fff;
		letter-spacing: 1px;
		margin-bottom: 40px;
		display: block;
	}
	.contact-add-box ul{
		margin: 0;
	}
	.contact-add-box ul li{		
		margin-bottom: 40px;
	}
	.contact-add-box ul li h4{
		font-family: 'ralewaybold';	
		font-size: 24px;	
		text-transform: uppercase;	
		color: #fff;	
		letter-spacing: 1px;	
		margin-bottom: 10px;
	}
	.contact-add-box ul li p{
		font-size: 18px;
		color: #fff;
		font-family: 'ralewayextralight';
		letter-spacing: 1px;
	}

	.single-post{

margin-bottom: 40px;

}
	.single-post h3{
		font-family: 'playfair_displayregular';
		font-size: 30px;
		font-weight: 500;
		margin-bottom: 5px;
	}
	.single-post .date{
		font-family: 'ralewaymedium';
		font-size: 16px;
		font-style: italic;
		color: #444;
		margin-bottom: 40px;
		display: block;
	}
	.single-post .img-wapper{
		position: relative;
		margin-bottom: 20px;
	}
	.single-post .img-wapper img{
	
	}
	.single-post .img-wapper .tag-img{
		position: absolute;
		top: 15px;
		right: 15px;
		background: #cb045f;
		color: #fff;
		padding: 5px 20px;
		border-radius: 30px;
		font-size: 13px;
		font-family: 'ralewaymedium';
	}
	.single-post .info{
		position: relative;
		font-family: 'playfair_displayregular';
		font-size: 16px;
		padding-left: 35px;
	}
	.single-post .info:before{
		content: "";
		position: absolute;
		left: 0;
		top: 7px;
		width: 25px;
		height: 1px;
		background: #cb045f;
	}
	.single-post .user{
		float: right;
		text-transform: uppercase;
		font-family: 'ralewaymedium';
		font-size: 14px;
		color: #cb045f;
		font-weight: 600;
	}
	.single-post .user > a{
		color: #000;
		font-weight: 500;
	}
	/*--------------- Sidebar ----------------*/
	.aside-spacing{

margin-bottom: 50px;

}
	.aside-title{

	}
	.aside-title h3{
		font-family: 'ralewaymedium';
		font-size: 18px;
		position: relative;
		text-transform: capitalize;
		letter-spacing: 1px;
		padding-bottom: 5px;
		margin-bottom: 20px;
	}
	.aside-title h3::before{
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: #d8d8d8;
	}
	.categories{
		margin: 0;
	}
	.categories li{
		font-family: 'playfair_displayregular';
		font-size: 15px;
		border-bottom: 1px solid #d8d8d8;
		padding: 12px 0;
		color: #444;
		-moz-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;

	}
	.categories li:hover{
		color: #cb045f;
	}
	.categories li a span{
		float: right;
	} 
	.recent-post {
		margin: 0;
	}
	.recent-post li {
		margin-bottom: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: 80px;
		border-bottom: 1px solid #d8d8d8;
	}
	.recent-post .post-left {
		max-width: 30%;
		height: auto;
		float: left;
		padding-top: 5px;
	}
	.recent-post .post-right {
		display: inline-block;
		padding-left: 10px;
		max-width: 70%;
	}
	.recent-post .post-right h5 {
		font-family: 'ralewaymedium';
		font-size: 15px;
		margin-bottom: 0px;
		line-height: 22px;
		transition: all 0.5s ease-in-out 0s;
		-moz-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		-webkit-transition: all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
	}
	.recent-post .post-right h5:hover {
		color: #cb045f;
	}
	.recent-post .post-right .date {
		font-family: 'playfair_displayregular';
		color: #cb045f;
		font-size: 12px;
		font-style: italic;
		font-weight: 600;
		margin-bottom: 8px;
		display: block;
	}
	.recent-post .post-right p{
		font-family: 'playfair_displayregular';
		font-size: 14px;
		margin: 0;
		line-height: 21px;
	}
	.tweets-post{
		font-family: 'playfair_displayregular';
	}
	.tweets-post li{
		border-bottom: 1px solid #d8d8d8;
		padding: 12px 0;
	}
	.tweets-post li p{
		font-size: 16px;
		margin: 0;
		margin-bottom: 4px;
	}
	.tweets-post li a{	
		color: #cb045f;
	}
	.tweets-post li .date{	
	    font-size: 12px;
    font-style: italic;
    font-weight: 600;
	}
	.tag-gbtn a{
		border: 1px solid #cb045f;
		padding: 4px 15px;
		display: inline-block;
		border-radius: 20px;
		margin: 3px 0;
		transition: all 0.5s ease-in-out 0s;
		-moz-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		-webkit-transition: all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
	}
	.tag-gbtn a:hover{
		background: #cb045f;
		color: #fff;
	}
	.t-tags span{
		font-family: 'playfair_displayitalic';
		color: #cb045f;
	}
	.t-tags a{
		font-family: 'playfair_displayregular';
		font-size: 14px;
		transition: all 0.5s ease-in-out 0s;
		-moz-transition: all 0.5s ease-in-out 0s;
		-o-transition: all 0.5s ease-in-out 0s;
		-webkit-transition: all 0.5s ease-in-out 0s;
		-ms-transition: all 0.5s ease-in-out 0s;
		padding-right: 4px;
	}
	.t-tags a:hover{
		color:#cb045f;
	}
	/*-------------- comment-content --------------*/
.comment-area {
	padding:  0;
}

.comment-area .title {
	margin-bottom: 40px;
	font-family: 'ralewaymedium';
	font-size: 24px;
}

.comment-content ul li {
	padding-bottom: 50px;
}

.comment-content ul li .img-wapper {
	display: inline-block;
	width: 10%;
	height: 120px;
	float: left;
	margin-right: 20px;
}

.comment-content ul li .comment-diss h4 {
    font-size: 16px;
    font-family: 'ralewaylight';
    text-transform: capitalize;
    letter-spacing: 1px;
}

.comment-content ul li .comment-diss span {
	font-family: 'ralewaylight';
	font-size: 13px;
	display: block;
	margin-bottom: 10px;
}
.comment-diss {
    width: 90%;
    padding-left: 92px;
}
.comment-diss p{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
}
.comment-diss a{
	color: #cb045f;
	font-family: 'ralewaylight';
	font-weight:600;
}
.contact-form .title{
    font-family: 'ralewaymedium';
    margin-bottom: 40px;
}
.banner-three{
	height: 600px;
}
/*----------------- portfolio-single ----------------*/
.slider-screen {
    margin-bottom: 10px;
}
.slider-btn .item{
	padding: 0 8px;
}

.portfolio-single{
	overflow: hidden;
}
.portfolio-info{
    padding-left: 30px;
}
.portfolio-info .title{
	font-family: 'playfair_displayregular';
	font-size: 48px;
	line-height: 1;
	color: #242856;
	margin-bottom: 10px;
}
.portfolio-info > span{
    font-family: 'ralewaymedium';
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    color: #cb045f;
    letter-spacing: 2px;
    margin-bottom: 40px;
    display: block;
}
.portfolio-info s{
	color: #242856;
}
.portfolio-info p{
	font-family: 'playfair_displayregular';
	font-size: 18px;
}
.centering {
	border: 2px solid #cb045f;
	display: inline-block;
	position: relative;
	padding: 0px 60px;
	border-radius: 40px;
	line-height: 1px;
	font-family: 'ralewaymedium';
}
.inc-dec-control button {
    background: none;
    margin: 0 0;
    border: none;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    right: -50px;
	top: -10px;
	outline: none;
}
.qty {
    width: 20px;
    border: 0;
    text-align: left;
    line-height: 0;
    padding-top: 0px;
    margin: 0px 10px;
    position: relative;
    top: 9px;
    left: -20px;
}
.add-person.px-1 {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 20px;
}
.all-group-btn {
	padding: 35px 0 50px;
	border-bottom: 1px solid #ededed;
}
.single-tag{
	font-size: 16px !important;
    color: #444 !important;
    margin-top: 40px;
}
.single-tag a{
   color: #cb045f;
}
.portfolio-single .nav-tabs .nav-link {
	font-size: 16px;
	text-transform: capitalize;
}
.portfolio-single .nav-tabs .nav-link.active {
    border-bottom: 2px solid #cb045f;
   border-top: none;
   border-left: none;
   border-right: none;
  
}
.portfolio-single{
	background-image: url('../images/s-bg.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

}