    /*
    Flaticon icon font: Flaticon
    Creation date: 05/08/2019 08:44
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-stop:before { content: "\f100"; }
.flaticon-play-outlined-circular-button:before { content: "\f101"; }
.flaticon-music-player-play:before { content: "\f102"; }
.flaticon-play-button:before { content: "\f103"; }
.flaticon-thin-arrowheads-pointing-down:before { content: "\f104"; }
.flaticon-left:before { content: "\f105"; }
.flaticon-fast-rewind-button:before { content: "\f106"; }
.flaticon-right-arrow:before { content: "\f107"; }
.flaticon-fast-forward-button:before { content: "\f108"; }
.flaticon-plus:before { content: "\f109"; }
.flaticon-like-heart-in-circular-button:before { content: "\f10a"; }
.flaticon-facebook-letter-logo:before { content: "\f10b"; }
.flaticon-twitter:before { content: "\f10c"; }
.flaticon-instagram:before { content: "\f10d"; }
.flaticon-google-plus-symbol:before { content: "\f10e"; }
.flaticon-message:before { content: "\f10f"; }
.flaticon-add:before { content: "\f110"; }
.flaticon-multiply:before { content: "\f111"; }
.flaticon-stop-button:before { content: "\f112"; }
.flaticon-twitter-logo-silhouette:before { content: "\f113"; }
.flaticon-phone:before { content: "\f114"; }
.flaticon-down-arrow:before { content: "\f115"; }
.flaticon-arrow-down-sign-to-navigate:before { content: "\f116"; }
.flaticon-up-arrow:before { content: "\f117"; }
    
    $font-Flaticon-stop: "\f100";
    $font-Flaticon-play-outlined-circular-button: "\f101";
    $font-Flaticon-music-player-play: "\f102";
    $font-Flaticon-play-button: "\f103";
    $font-Flaticon-thin-arrowheads-pointing-down: "\f104";
    $font-Flaticon-left: "\f105";
    $font-Flaticon-fast-rewind-button: "\f106";
    $font-Flaticon-right-arrow: "\f107";
    $font-Flaticon-fast-forward-button: "\f108";
    $font-Flaticon-plus: "\f109";
    $font-Flaticon-like-heart-in-circular-button: "\f10a";
    $font-Flaticon-facebook-letter-logo: "\f10b";
    $font-Flaticon-twitter: "\f10c";
    $font-Flaticon-instagram: "\f10d";
    $font-Flaticon-google-plus-symbol: "\f10e";
    $font-Flaticon-message: "\f10f";
    $font-Flaticon-add: "\f110";
    $font-Flaticon-multiply: "\f111";
    $font-Flaticon-stop-button: "\f112";
    $font-Flaticon-twitter-logo-silhouette: "\f113";
    $font-Flaticon-phone: "\f114";
    $font-Flaticon-down-arrow: "\f115";
    $font-Flaticon-arrow-down-sign-to-navigate: "\f116";
    $font-Flaticon-up-arrow: "\f117";